@use "../abstracts/variables" as v;

.theme-code-vibes {
  --bg-color: #303131;
  --text-color: #ffffff;
  --font-family: #{v.$font-accent};

  --header-bg-color: none;
  --header-drop-shadow: none;
  --header-play-item: #86e9d64d;
  --header-play-item-radius: 0;
  --header-border-radius: 0;

  --header-btn-color: #86e9d64d;
  --header-btn-border: 1px solid #4dd5bc;
  --header-btn-hover: 2px solid #4dd5bc;
  --header-btn-shadow: #4dd5bc33;
  --header-btn-icon-hover: none;
  --header-btn-border-radius: 0;

  --color-score-blue: #{v.$color-blue-dark};
  --color-score-orange: #{v.$color-orange-dark};
  --color-player-one: #{v.$color-blue-dark};
  --color-player-two: #{v.$color-orange-dark};
  --player-font-size: 2.4rem;
  --player-icon-size: 2.4rem;
  --player-border-radius: 0;
  --icon-font-weight: 2.4rem;
  --icon-font-height: 2rem;
  --current-player-font-size: 2.4rem;
  --current-player-font-weight: 700;
  --current-player-margin-top: 2rem;
  --score-icon-width: 2.9rem;
  --score-icon-height: 2.4rem;
  --score-player-size: 2.4rem;
  --score-board-width: 35rem;

  --exit-font-size: 2.4rem;
  --exit-font-icon-weight: 3rem;
  --exit-font-icon-height: 3rem;
  --exit-font-weight: 700;
  --exit-icon-hover-filter: none;
  --back-to-game: #86e9d64d;
  --back-to-game-hover: #66cfbc33;
  --indicator-bg: transparent;
  --indicator-shadow: none;
  --active-icon-filter: none;
  --indicator-icon-width: 4.1rem;
  --indicator-icon-height: 4rem;

  --card-back-color: linear-gradient(45deg, #286f62 10%, #4dd5bc 102%);
  --card-font-color: #e8f3f0;
  --card-border: none;
  --card-shadow: 0 0 10px #4dd5bc4d;
  --card-border-radius: 0;
  --card-width: 120px;
  --card-height: 120px;

  --card-matched-bg: #ffffff;
  --card-matched-border: 5px solid #4dd5bc;
  --card-matched-shadow: 0 0 10px #ed1b764d;

  --dialog-bg-color: #ffffff;
  --dialog-shadow: none;
  --dialog-border-radius: 0;
  --dialog-font-family: #{v.$font-accent};
  --dialog-font-size: 3.2rem;
  --dialog-font-weight: 700;
  --dialog-font-color: #303131;
  --dialog-line-height: 4rem;
}
