$font-main: 'Almarai', sans-serif;
$font-accent: 'Red Rose', serif;

$color-bg: #303131;
$color-primary: #4dd5bc;
$color-blue-light: #2bb1ff;
$color-orange: #f58e39;
$color-white: #ffffff;
$color-yellow: #f0ea6e;
$color-blue-dark: #097fc5;
$color-orange-dark: #ea6900;
$color-red: #e71c4f;
$color-blue-lithium: #1faafc;
$color-pink: #ed1b76;