.card {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  aspect-ratio: 1/1;

  &__inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;
  }

  &__face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    background-color: yellow;

    &--back {
      transform: rotateY(180deg);
      background-color: red;
    }
  }

  &.is-flipped .card__inner {
    transform: rotateY(180deg);
  }
}