@use "../abstracts/variables" as v;

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999 !important;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  .modal-content {
    width: 53.9rem;
    min-height: 27rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    transform: translateY(100vh);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.2);
  }

  &.is-open {
    opacity: 1;
    pointer-events: all;

    .modal-content {
      transform: translateY(0);
    }
  }
}

.modal-title {
  line-height: 1.4;
}

.modal-actions {
  display: flex;
  gap: 5.4rem;
  justify-content: center;
  margin-top: 4rem;
}

.in-game-screen.theme-code-vibes {
  .modal-content {
    background: var(--dialog-bg-color);
    box-shadow: var(--dialog-shadow);
    border-radius: var(--dialog-border-radius);
  }

  .modal-title {
    font-family: #{v.$font-accent};
    font-size: var(--dialog-font-size);
    font-weight: var(--dialog-font-weight);
    line-height: var(--dialog-line-height);
    color: var(--dialog-font-color);
    text-align: center;
  }
}

.in-game-screen.theme-gaming {
  .modal-content {
    background: var(--dialog-bg-color);
    box-shadow: var(--dialog-shadow);
    border-radius: var(--dialog-border-radius);
  }

  .modal-title {
    font-family: var(--dialog-font-family);
    font-size: var(--dialog-font-size);
    font-weight: var(--dialog-font-weight);
    line-height: var(--dialog-line-height);
    color: var(--dialog-font-color);
    text-align: center;
  }
}
