@use '../components/theme-code-vibes';
@use '../components/theme-gaming';

.in-game-screen {
  min-height: 100vh;
  max-width: 120.0rem;
  margin: 0 auto;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family), sans-serif;
  padding: 2.0rem 4.0rem;
  display: flex;
  flex-direction: column;
  transition: background 0.4s ease, color 0.4s ease;
  
  .game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    border-radius: var(--header-border-radius);
    background: var(--header-bg-color);
    box-shadow: 0 4px 15px var(--header-drop-shadow);
    margin-bottom: 3.0rem;

    .score-board {
      display: flex;
      gap: 2.0rem;

      .score-item {
        display: flex;
        align-items: center;
        gap: 1.0rem;
        padding: 0.8rem 1.6rem;
        font-size: var(--player-font-size);
        background: var(--header-play-item);
        border-radius: var(--header-play-item-radius);
        font-weight: 600;

        &.blue-player {
          color: var(--color-player-two);
        }

        &.orange-player {
          color: var(--color-player-one);
        }

        .player-icon {
          width: var(--player-icon-size);
          height: var(--player-icon-size);
          border-radius: 50%;
          background-color: currentColor;
          box-shadow: 0 0 5px currentColor;
        }
      }
    }
  }

  
  .game-field {
    display: grid;
    // Das machen wir gleich noch dynamisch für 16, 24, 36 Karten!
    grid-template-columns: repeat(4, 1fr); 
    gap: 2.0rem;
    max-width: 80.0rem;
    margin: 0 auto;
  }
}
